<section>
	<div class="container">
		<h2>Reset Password</h2>
		<form name="resetPasswordForm" id="resetPasswordForm">
			<div class="form-group">
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" id="inputEmail" name="inputEmail" class="form-control" ng-model="lc.inputEmail" placeholder="Email address" required autofocus>
			</div>
			<button class="btn btn-lg btn-primary btn-block" ng-click="lc.resetPassword()" ng-disabled="resetPasswordForm.$invalid">Forgot Password</button>
		</form><br>
		<div class="alert alert-success" ng-show="lc.success">
			{{lc.successMessage}}
		</div>
		<div class="alert alert-danger" ng-show="lc.error">
			{{lc.error}}
		</div>
	</div>
</section>